*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEXT STYLES */
@font-face {
    font-family: 'Ginto';
    src: url(./Ginto\ \(official\ discord\ font\));
}

@font-face {
    font-family: 'Whitney';
    src: url(./Whitney\ \(official\ discord\ typing\ font\));
}

header, #jumbodrone, footer, a{
    color: white;
}

h1{
    font-size: 56px;
}

p{
    font-size: 20px;
    font-family: 'Arial';
    line-height: 1.7em;
}

body{
    font-family: 'Arial';

}

.container.head{
    width: 1180px;
    margin: 0 auto;
}

.container{
    width: 70%;
    margin: 0 auto;
}
/* TEXT STYLES */

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* HEADER STRUCTURE */ 
#head{
    background-color: rgb(42, 94, 232);
}

header .col{
    padding: 5px 10px;
    height: 80px;
    display: flex;
}
.logo{
    width: 20%;
    align-items: center;
}

.menu{
    width:60%;
    text-align:center;
    align-items: center;
    justify-content: space-evenly;
}

.menu a{
    text-decoration: none;
}

div.login{
    width: 20%;
    justify-content: end;
    align-items: center;
}

button.login{
    background-color: #fff;
    color: #23272A;
    height: fit-content;
    padding: 6px 12px;
    border: 0px;
    border-radius: 24px;
    font-size: 16px;
}
/* FINE HEADER STRUCTURE */ 

/* JUMBODRONE SECTION */
#jumbodrone{
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-position-x: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: auto 110%;
    background-color: rgb(42, 94, 232);

}



#jumbodrone .row{
    padding: 99px 0px 120px 0px;
}

#jumbodrone .col{
    text-align: center;
    width: 65%;
}

#jumbodrone p{
    margin-top: 40px;
}

.button_container{
    width: 100%;
}

button.apri_nel_tuo_browser{
    background-color: #23272A;
    padding:16px 32px;
    margin: 24px 24px 0px 0px;
    border: 0px solid;
    border-radius: 24px;
    font-size: 20px;
    color: #fff;
}

span.down_arrow{
    content: url(../img/arrow-down-long-solid.svg);
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px ;
    color: #23272A ;
}

a.scarica_per_mac{
    background-color: #fff;
    padding:16px 32px 16px 24px;
    margin: 24px 24px 0px 0px;
    border: 0px solid;
    border-radius: 24px;
    text-decoration: none;
    color: #23272A;
    font-family: 'Arial';
    font-size: 20px;
}


/* END JUMBODRONE SECTION */

/* MAIN LAYOUT */
 /* MAIN SECTIONS */
main section{
    padding:0px 0px 30px 0px;
}

main section:nth-of-type(2n+3){
    background-color: lightgrey;
}

.gray_background{
    width: 100%;
    height: 100px;
    background-color: lightgray;
}

.wave_1{
    width: 120%;
    background-image: url(../img/wave.svg);
    -webkit-mask-image: url(../img/wave.svg);
    mask-image: url(../img/wave.svg);
}

.wave_2{
    width: 100%;
    background-image: url(../img/wave.svg);
    -webkit-mask-image: url(../img/wave.svg);
    mask-image: url(../img/wave.svg);
    transform: rotate(180deg);
}


    /* END MAIN SECTIONS */
    /* MAIN COLLUMNS LAYOUT */
main .col_40, .col_60, .col_100{
    height: 300px;
    border: 1px dashed black;
}

.col_40{
    width: 40%;
    background-color: pink;
}

.col_60{
    width: 60%;
    background-color: rgb(25, 127, 186);
}

.col_100{
    width: 100%;
    background-color: green;
    height: 450px;
}
    /* END MAIN COLLUMNS LAYOUT */
/*END MAIN LAUOUT */
/* FOOTER LAYOUT */
footer section{
    background-color: rgb(31, 29, 29);
}
    /* SECTION #CONTATTI */

#contatti{
    padding:3px 0px 20px 0px;
}

#contatti .col_15{
    height: 450px;
    width: calc(70% / 4);
    background-color: cyan;
    border: 1px dashed white;
}

#contatti .col_30{
    height: 450px;
    width: 30%;
    background-color: pink;
    border: 1px dashed black;
}
    /*FINE SECTION CONTATTI */

    /* SECTION #END */
#end{
    padding: 15px 0px 0px 0px
}

#end .col{
    width: 100%;
    padding: 10px 0;
    background-color: cyan;
    display: flex;
    justify-content: space-between;

}

#end .logo, #end .login{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border: 1px dashed black;
    background-color: pink;
}

#end input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
    /* FINE SECTION END */
/* FINE FOOTER */